.header {
  text-align: center;
  padding: 5px 0;
  height: 40px;
  background-color: gainsboro;
  border: 1px solid gray;
}
.favoriteTicker {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.itemTicker {
  width: 70px;
  border-radius: 5px;
  color: white;
  padding: 2px 0;
  margin: 12px 0;
  text-align: center;
}
.button {
  margin: 12px 0 0 15px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gray;
  cursor: pointer;
  color: red;
}
